err_plots.py
errs.mlx
flat_ns.py
parab_conv_test.py
parab_reu_circ_p2_old_stab.csv
parab_reu_torus_p2_old_stab.csv
process_data.py
reu_circ_p2.csv
reu_circ_p2-ns-bdf2.csv
script.sh
stokes_plot.py
./csvs
./figures
./flat_ns_paraview
./parab_reu_circ_p2_new_stab_dt=h^(3
./total_stab_tests_diffusion
./txt_out
./vtk_out
