err_plots.py
errs.mlx
flat_ns.py
parab_conv_test.py
process_data.py
script.sh
stokes_plot.py
*.csv
csvs/
figures/
flat_ns_paraview/
parab_reu_circ_p2_new_stab_dt=h^(3/
total_stab_tests_diffusion/
txt_out/
vtk_out/
